.login-form {
  max-width: 300px;
  margin: auto;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.task_data {
  width: 80%;
  margin: auto;
}
.menu {
  width: 15%;
  margin: auto;
  padding-bottom: 30px;
}
